 /*color pallete*/
:root {
    --primary-color: #046beb; 
    --background-light: #8fbdf4; 
    --secondary-color:#2f84ee;
}

body {
    background-color: var(--secondary-color);
}

.seccion1 {
    background-color: var(--background-light);
}

header {
    background-image: url('../imagenes/header.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header img {
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {

    header img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 30px;
    }

    header .btn {
        font-size: 16px;
        padding: 10px 20px; 
    }
}

footer {
    background-image: url('../imagenes/header.png');
}

footer p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/***************** TEMPLATE *****************/
form {
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--primary-color);
    padding: 20px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 10px;
}

h1 {
    color: var(--background-light);
    text-shadow: 2px 2px 5px var(--primary-color);
    font-weight: bold;
}

.impresion {
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--primary-color);
    padding: 20px;
    margin-top: 10px;
}

.lead {
    font-weight: bold; 
    color: var(--background-light);
}